<%layout('/partials/boilerplate')%>
<div class="app-style">
	<%- include('../partials/sidebar', { selectedLink: 'cars' }) %>
	<div class="cars">
		<% cars.forEach(car => { %>
		<a href="<%= `/cars/${car._id}` %>" class="car-card">
			<img src=<%= car.photos.length === 0 ? "https://placehold.co/400x190" :
			car.images[0]%> alt="<%=car.make %> <%=car.model %> <%=car.year %>
			placeholder" />
			<div class="card-body">
				<h2><%=car.make %> <%=car.model %> <%=car.year %></h2>
				<p><%= car.vim ?? 'Chasis no identificado'%></p>
			</div>
		</a>
		<% }) %>
	</div>
</div>
