<%layout('/partials/boilerplate')%>
<div class="app-style">
	<%- include('../partials/sidebar', { selectedLink: 'cars' }) %>
	<div class="content">
		<h1><%= car.make %> <%= car.model %> <%= car.year %></h1>
		<h2><%= car.price %> por dia</h2>
		<p>Chasis: <%=car.vim ?? 'No definido'%></p>
	</div>
</div>
